# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Docker
postgres-data/

# IDE
.vscode/
.claude/
*.code-workspace
CLAUDE.md

# OS
.DS_Store
Thumbs.db

# Airflow
airflow/logs/
airflow/plugins/

# Streamlit
streamlit/.streamlit/secrets.toml

# Environment
.env
metabase/mcp-api-key.txt

