# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# dbt
dbt_project/target/
dbt_project/dbt_packages/
dbt_project/logs/

# Docker
postgres-data/

# IDE
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db

# Airflow
airflow/logs/
airflow/plugins/

# Streamlit
streamlit/.streamlit/secrets.toml

# Environment
.env
